<section class="outer-size">
		<hr />
		<div class="top-edit">
			<button class="float-right">Edit</button>
		</div>
		<section class="col-md-4">
			<div ng-include src="'app/view/partials/image.html'"></div>
			<div ng-include src="'app/view/partials/sourcing_events.html'"></div>
		</section>
		<section class="col-md-8">
			<div ng-include src="'app/view/partials/material_details.html'"></div>
			<div ng-include src="'app/view/partials/price_over_time.html'"></div>
			<div ng-include src="'app/view/partials/spend_overview.html'"></div>
		</section>
</section>