
.image-side{
	height: 250px;
}
ul.enlarge{
	list-style-type:none;
	padding-left: 0;
	li{
		display:inline-block;
		position: relative;
		z-index: 0;
		border: 1px solid #acd4ed;
		margin: 0 10px 5px 0;
		&:hover {
			z-index: 50;
			cursor:pointer;
			span { 
				width: 510%;
				top: -250px;
				left: -1px;
			}
			&:nth-child(2) span{
				width: 103%;
				left: -63px; 
			}
			&:nth-child(3) span{
				width: 103%;
				left: -125px; 
			}
		}
		&.active {
			z-index: 50;
			cursor:pointer;
			span { 
				width: 510%;
				top: -250px;
				left: -1px;
			}
			&:nth-child(2) span{
				width: 103%;
				left: -63px; 
			}
			&:nth-child(3) span{
				width: 103%;
				left: -125px; 
			}
		}
		img {
		    width: 50px;
    		height: 50px;
    	}	
	}
	span{
		position:absolute;
		left: -9999px;
		img {
			
    		height: 240px;
			border: 1px solid #ccc;
		}
	}
}
/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {

ul.enlarge span img{
  	width: 319px !important;
 	height: 240px;
	border: 1px solid #ccc;
}
ul.enlarge li:hover span {
	width: 319px !important;
  top: -250px;
  left: -1px;
}
ul.enlarge li:hover:nth-child(2) span {
width: 319px !important;
  left: -63px;
}
ul.enlarge li:hover:nth-child(3) span {
width: 319px !important;
  left: -125px;
}
ul.enlarge li.active span {
width: 319px !important;
  top: -250px;
  left: -1px;
}
ul.enlarge li.active:nth-child(2) span {
width: 319px !important;
  left: -63px;
}
ul.enlarge li.active:nth-child(3) span {
width: 319px !important;
  left: -125px;
}
}