.sourcing-event {
	border: 1px solid #ccc;
	height: 620px;
    background-color: #f2f2f2;
    >div {
    	margin: 10px;
    }
    .file-icon {
    	display:inline-block;
    	font-size: 27px;
    	color: #ccc;
    	float: left;
    	padding: 0 5px 0 0;
    	img {
    		height: 38px;
    		width: 38px;
    	}
    }
    .file-name {
        font-size: 12px;
     }
}