<div class="">
    <!-- <div style="float:left; width:202; height:202; margin: 25; border: 1px solid grey;">
        <img ng-if="partObj.name.match('Piston')" src="app/img/piston-thumb.jpg"/>
        <img ng-if="!partObj.name.match('Piston')" src="app/img/gear-thumb.jpg"/>
    </div> -->
    <!-- <div style="float:left; width:200; margin:25;">
        <div style="padding-bottom: 15px; display:inline-block;">
            <span style="color:gray;">Expected Quantity:</span>
            <span >100</span>
        </div>
        <div style="padding-bottom: 15px;">
            <span style="color:gray;">Base Price:</span>
            <span>$100</span>
        </div>
        <div style="padding-bottom: 15px;">
            <span style="color:gray;">Price:</span>
            <span>$100</span>
        </div>
        <div style="padding-bottom: 15px;">
            <span style="color:gray;">Supplier:</span>
            <span>Supplier ABC</span>
        </div>
    </div> -->
    <fusion-chart chart-id="'12345'" chart-data="demoNewRequestSingleColumnChart" chart-height="250"></fusion-chart>
    <div id="12345"></div>
</div>