<div class="material-detail">
	<div>
		<div class="material-name">Material name</div>
		<div class="small-label">Last updated by </div>
	</div>
	<div>
		<span>
			<span class="small-label">Category</span><br>
			<span>Category name</span>
		</span>
		<span>
			<span class="small-label">Id</span><br>
			<span>PT123</span>
		</span>
		<span>
			<span class="small-label">Make orBuy</span><br>
			<span>Make</span>
		</span>
	</div>
	<div>
		<div class="small-label">Description</div>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
	</div>
	<div>
		<span>
			<span class="small-label">Owner</span><br>
			<span><a href="#">Firstname Lastname</a></span>
		</span>
		<span>
			<span class="small-label">Permission</span><br>
			<span><a href="#">12 members</a></span>
		</span>
	</div>
</div>