<div class="sourcing-event">
	<div class="title-name">Sourcing events</div>
	<div>
		<span class="glyphicon glyphicon-file file-icon" aria-hidden="true"></span>
		<span>
			<span class="small-label">Apr 20 2016 9:20 am</span><br>
			<span class="file-name"><a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a></span>
		</span>
	</div>
	<div>
		<span class="glyphicon glyphicon-file file-icon" aria-hidden="true"></span>
		<span>
			<span class="small-label">Apr 20 2016 9:20 am</span><br>
			<span class="file-name"><a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a></span>
		</span>
	</div>
	<div>
		<span class="glyphicon glyphicon-file file-icon" aria-hidden="true"></span>
		<span>
			<span class="small-label">Apr 20 2016 9:20 am</span><br>
			<span class="file-name"><a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a></span>
		</span>
	</div>
	<div>
		<span class="glyphicon glyphicon-file file-icon" aria-hidden="true"></span>
		<span>
			<span class="small-label">Apr 20 2016 9:20 am</span><br>
			<span class="file-name"><a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a></span>
		</span>
	</div>
	<div>
		<span class="glyphicon glyphicon-file file-icon" aria-hidden="true"></span>
		<span>
			<span class="small-label">Apr 20 2016 9:20 am</span><br>
			<span class="file-name"><a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a></span>
		</span>
	</div>
	<div>
		<span class="glyphicon glyphicon-file file-icon" aria-hidden="true"></span>
		<span>
			<span class="small-label">Apr 20 2016 9:20 am</span><br>
			<span class="file-name"><a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a></span>
		</span>
	</div>
</div>