<div class="sourcing-event">
			<div>Sourcing events</div>
			<div>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span>Apr 20 2016 9:20 am <br>
					<a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a>
				</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span>Apr 20 2016 9:20 am <br>
					<a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a>
				</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span>Apr 20 2016 9:20 am <br>
					<a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a>
				</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span>Apr 20 2016 9:20 am <br>
					<a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a>
				</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span>Apr 20 2016 9:20 am <br>
					<a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a>
				</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span>Apr 20 2016 9:20 am <br>
					<a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a>
				</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span>Apr 20 2016 9:20 am <br>
					<a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a>
				</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span>Apr 20 2016 9:20 am <br>
					<a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a>
				</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span>Apr 20 2016 9:20 am <br>
					<a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a>
				</span>
			</div>
			<div>
				<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
				<span>Apr 20 2016 9:20 am <br>
					<a href="#">Supplier name 1</a> returned <a href="#">quote ID12344</a>
				</span>
			</div>
</div>